# Copy this file to .env before starting the stack.
COMPOSE_PROJECT_NAME=makerspace-access

# PostgreSQL
POSTGRES_DB=makerspace_access
POSTGRES_USER=makerspace
POSTGRES_PASSWORD=change-me-in-local-env

# nginx
NGINX_HTTP_PORT=80

# FastAPI backend
API_IMAGE=makerspace-access-api:dev
API_PORT=8000
API_KEY=change-me-to-a-long-random-admin-token
REGISTRATION_API_KEY=change-me-to-a-registration-token
LOGO_URL=https://halle1wh.de/content/images/2023/04/cropped-RZ_Halle1_Logo_2018_schwarz-e1540384559756-2-150x150-1.png
LOGO_INVERTED=false
HEADLINE=MakerSpace Access
